<div class="container mt-5 mb-5 ">
{{ form_start(form) }}
    
    {{ form_row(form.title) }}
 {{ form_row(form.synopsis) }}
 {{ form_row(form.number) }}
 {{ form_row(form.duration) }}
 {{ form_row(form.season) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
</div>