
<h1>Edit Program</h1>
 {# Affichage du formulaire d'édition du programme #}
 {{ form_start(form) }}
 {{ form_row(form.title) }}
 {{ form_row(form.synopsis) }}
 {# Ajoutez d'autres champs du formulaire ici #}

<button type="submit" class="btn btn-primary">Update</button>
{{ form_end(form) }}
<hr>

    {# Tableau listant tous les programmes #}
    <h2>All Programs</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for prog in program %}
                <tr>
                    <td>{{ prog.title }}</td>
                    <td>
                    <a href="{{ path('program_edit', {'slug': prog.slug}) }}" class="btn btn-sm btn-primary">Edit</a>
                       
                    <a href="{{ path('program_show', {'slug': prog.slug}) }}" class="btn btn-sm btn-info">Show</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {# Liens de navigation vers d'autres pages #}
    <div>
        <a href="{{ path('program_index') }}" class="btn btn-secondary">Back to Programs</a>
    </div>