
<h1>Edit Program</h1>
 {# Affichage du formulaire d'édition du programme #}
 <div class="container mt-5 mb-5">
 {{ form_start(form) }}
 {{ form_row(form.title) }}
 {{ form_row(form.synopsis) }}
 {{ form_row(form.posterFile) }}
 {{ form_row(form.category) }}
 {{ form_row(form.actors) }}
 {# Ajoutez d'autres champs du formulaire ici #}

<button type="submit" class="btn btn-primary">Update</button>
{{ form_end(form) }}
<hr>
{{ include('program/_delete_form.html.twig') }}
</div>

    {# Liens de navigation vers d'autres pages #}
    <div>
        <a href="{{ path('program_index') }}" class="btn btn-secondary">Back to Programs</a>
    </div>