<!DOCTYPE html>

    {# templates/emails/newProgram.inky.twig #}
<container>
    <row>
      <columns large="12">
      <h1>
        New program
        {{ program.title }}
        created
    </h1>
    <p>
        Hello, the new program
        {{ program.title }}
        has been created on Wild Series
    </p>
    <p>
        Synopsis :
        {{ program.synopsis }}
    </p>
    <p>
        Category :
        {{ program.category.name }}
    </p>
    <callout class="primary">
    <a href="{{ url('program_show', {'slug': program.slug}) }}">Voir la Serie</a>
        </callout>
      </columns>
    </row>

<spacer size="16"></spacer>

<row>
    <columns>
        <p>Retrouvez d'autres épisodes passionnants et découvrez plus sur notre plateforme.</p>
        <callout class="secondary">
            <a href="{{  url('app_index') }}">Visitez notre site</a>
        </callout>
    </columns>
</row>
  </container>

   