{% extends "base.html.twig" %}

{% block body %}
    <!-- Display program details -->
    <div class="media">
        <!-- <img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster"> -->
        <div class="media-body">
            <h1 class="mt-0">{{ program.title }}</h1>
            <p>{{ program.synopsis }}</p>
            <p> {{ program.category.name }}</p>
        </div>
    </div>

    <!-- Display season details -->
    <div class="container-fluid">
        <h2>Détails de la Saison</h2>
        <!-- <p>ID de la saison : {{ season.id }}</p> -->
        <p>Nom de la série : {{ season.program.title }}</p>
        <p>Saison : {{ season.number }}</p>
        <p>Année de sortie : {{ season.year }}</p>
        <p>Description : {{ season.description }}</p>
    </div>

    <!-- Display episodes -->
    <div class="container-fluid">
        <h2>Épisodes</h2>
        {% for episode in episodes %}
            <div class="row mt-5">
                <div class="col-md-4">
                    <!-- <img src="{{ episode.poster ?? '/path/to/default/poster.jpg' }}" class="img-fluid rounded" alt="{{ episode.title }} poster"> -->
                    <img src="{{ asset ('images/the_walking_dead_saison_1.jpeg') }}" class="img-fluid rounded" alt="{{ program.title }}">
                </div>
                <div class="col-md-8">
                    <h3>Titre : {{ episode.title }}</h3>
                    <!-- <p>ID de l'épisode : {{ episode.id }}</p> -->
                    <p>Numéro de l'épisode : {{ episode.number }}</p>
                    <p>Synopsis : {{ episode.synopsis }}</p>
                    <!-- Link to episode details page -->
                    <a href="{{ path('program_episode_show', { slug: program.slug, season_id: season.id, slugy: episode.slug }) }}"class="btn btn-outline-dark w-50 text-center">
                        Voir le détail de l'épisode
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Link to seasons page -->
    <div>
        <a href="{{ path('program_show', { slug: program.slug }) }}" class="btn btn-secondary mt-3">
            Retour aux saisons
        </a>
    </div>
{% endblock %}