{% extends 'base.html.twig' %}

{% block title %}
    Série #{{ program.id }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row mt-5">
            <div class="col-md-4">
                <!-- Display the program's image with alt attribute set to program title -->
                <img src="{{ vich_uploader_asset(program, 'posterFile')| imagine_filter('poster_thumbnail') }}" class="img-fluid rounded mb-2" alt="{{ program.title }}">
            </div>
            <div class="col-md-8">
                <h1 class="text-uppercase text-decoration-underline">{{ program.title }}</h1>
                <p>{{ program.synopsis }}</p>
                <!--calling the service ProgramDuration from ProgramController->show() -->
                <p class="p-3 mb-2">
                    <span class="badge bg-info mb-2 p-2">{{ programDuration }}</span>
                </p>
                <p>Catégorie : <strong class="text-lowercase text-decoration-underline">{{ program.category.name }}</strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <h2>Saisons :</h2>
                <div class="row list-group">
                    <!-- Loop through the seasons of the program -->
                    {% for season in seasons %}
                        <span class="col list-group-item">
                            <!-- Link to the season show page with programId and seasonId as parameters -->
                            <a href="{{ path('program_season_show', { slug: program.slug , season_id: season.id }) }}" class="btn btn-primary">
                                Saison {{ season.number }}
                            </a>
                        </span>
                    {% else %}
                        <div class="list-group-item">Aucune saison disponible pour cette série.</div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-10">
                <p>Acteurs :</p>
                <div class="row">
                    {% for actor in program.actors %}
                        <div class="card_actors col-2 m-2 justify-content-between">
                            <div class="card_actor p-2">
                                <a href="{{ path('actor_show', {'slug': actor.slug}) }}" class="">
                                {% if actor.photo is not empty  %}
                                <img src="{{ vich_uploader_asset(actor, 'photoFile')| imagine_filter('actor_thumbnail') }}" alt="photo_actor_{{ actor.name }}" class="img-fluid rounded_actor">
                                {% else %}
                                <img src="{{ vich_uploader_asset(actor, 'photoFile') }}" alt="photo_actor_{{ actor.name }}" class="img-fluid rounded_actor">  
                            {% endif %}
                                
                                </a>
                            </div>
                            <div class="card-title text-uppercase text-center">
                                    <strong>{{ actor.name }}</strong>
                            </div>
                        </div>
                    {% else %}
                        <div>Aucun acteur pour cette série</div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="m-5">
            <!-- Links to different categories pages -->
            <a href="{{ path('category_index') }}" class="btn btn-success me-3">Retour aux Catégories</a>
            <a href="{{ path('program_index') }}" class="btn btn-primary me-3">Retour aux Programmes</a>
            <a href="{{ path('app_index') }}" class="btn btn-dark">Accueil</a>
        </div>
    </div>
{% endblock %}
