{% extends 'base.html.twig' %}

{% block title %}
    Série #{{ actor.id }}
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 m-2">
            <h1>{{ actor.name }}</h1>

                {% if actor.photo is not null %}
                <img src="{{ vich_uploader_asset(actor, 'photoFile') | imagine_filter('actor_thumbnail')  }}" alt="pohto_actor_{{ actor.name }}" class="img-fluid">

            {% else %}
            <img src="{{ asset('images/the_walking_dead_saison_1.jpeg')}}" class="img-fluid rounded mb-2" alt="{{ actor.name }}">
            {% endif %}
                
            <p><strong>Programs :</strong></p>
            <strong>Apparaît aussi dans :</strong>
        </div>
    </div>
    <div class="row">
        {% for program in actor.programs %}
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                
                    {% if program.poster is not null %}
                    <img src="{{ vich_uploader_asset(program, 'posterFile')| imagine_filter('poster_thumbnail')  }}" class="img-fluid rounded mb-2" alt="{{ program.title }}">
                    {% else  %}
                    <img src="{{ asset('images/the_walking_dead_saison_1.jpeg')}}" class="img-fluid rounded mb-2" alt="{{ program.title }}">
                    {% endif %}
                    
                    <h5 class=""><a href="{{ path('program_show', { slug: program.slug  }) }}" class="text-capitalize btn btn-outline-primary w-100">{{ program.title }}</a></h5>
                    <p class="mt-2">Genre: {{ program.category.name }}</p>
                    <p><strong>Acteurs:</strong>
                        {% for actors in program.actors %}
                            <span>{{ actors.name }}{% if not loop.last %}, {% endif %}</span>
                        {% endfor %}
                    </p>
                
            </div>
        {% else %}
            <div class="col-12">
                <p>Aucune série pour cet acteur.</p>
            </div>
        {% endfor %}
    </div>
    <div class="mt-4">
        <a href="{{ path('category_index') }}" class="btn btn-outline-dark">Retour aux Catégories</a>
        <a href="{{ path('program_index') }}" class="btn btn-outline-dark">Retour aux Programmes</a>
        <a href="{{ path('app_index') }}" class="btn btn-outline-dark">Accueil</a>
    </div>
</div>
{% endblock %}
