<div{{ attributes }}>
    <h3>My Watchlist</h3>
    {% if app.user.watchlist is not empty %}
    {% for program in app.user.watchlist %}
 
            <div class="program-list d-flex">
                <div class="card program-card ms-2">
                    <a href="{{ path('program_show', { 'slug': program.slug }) }}">
                        <img src="{{ vich_uploader_asset(program, 'posterFile')|imagine_filter('poster_thumbnail') }}" class="card-img-top img-fluid rounded" alt="{{ program.title }}">
                    </a>
                    <div class="card-title text-uppercase">
                        {{ program.title }}
                    </div>
                    {# Inclure le composant watchlist pour chaque programme #}
                    {{ component('WatchList', {'program': program}) }}
                </div>
            </div>

    
        {% endfor %}

    {% else %}
        <p>No programs in your watchlist.</p>
    {% endif %}
</div>

    
